name: Get MPD URL
on: workflow_dispatch

jobs:
  get-mpd:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl -s -H "Referer: https://webiptv.site/" \
            -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" \
            -H "Accept: */*" \
            -H "Accept-Language: en-US,en;q=0.9" \
            -H "Origin: https://webiptv.site" \
            -H "Connection: keep-alive" \
            -H "Sec-Fetch-Dest: empty" \
            -H "Sec-Fetch-Mode: cors" \
            -H "Sec-Fetch-Site: same-site" \
            -H "Pragma: no-cache" \
            -H "Cache-Control: no-cache" \
            "https://mpdchecker.webiptv.site/output.php?url=https%3A%2F%2Fwebiptv.site%2Fskynz.php%3Fid%3D219026" > mpd.txt
          
          cat mpd.txt
