name: Build SkyNZ JSON

on:
  workflow_dispatch:

jobs:
  build-json:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Save JSON
        run: |
          cat > skynz.json << 'EOF'
          {
            "category": "Sky NZ",
            "channels": [
              {"name":"Sky Sports NZ 1 UHD","thumb":"https://webiptv.site/sky4k.png","url":"https://webiptv.site/skynz1uhd.php"},
              {"name":"Sky Sports NZ 1","thumb":"https://iili.io/KbJy77S.png","url":"https://webiptv.site/skynz1.php"},
              {"name":"Sky Sports NZ 2","thumb":"https://iili.io/Kbd3hYv.png","url":"https://webiptv.site/skynz2.php"},
              {"name":"Sky Sports NZ 3","thumb":"https://iili.io/KbJoon2.png","url":"https://webiptv.site/skynz3.php"},
              {"name":"Sky Sports NZ 4","thumb":"https://iili.io/KbdFtNp.png","url":"https://webiptv.site/skynz4.php"},
              {"name":"Sky Sports NZ 5","thumb":"https://iili.io/KbdfMG9.png","url":"https://webiptv.site/skynz5.php"},
              {"name":"Sky Sports NZ 6","thumb":"https://iili.io/KmU23ut.png","url":"https://webiptv.site/skynz6.php"},
              {"name":"Sky Sports NZ 7","thumb":"https://iili.io/KmU3shF.png","url":"https://webiptv.site/skynz7.php"},
              {"name":"Sky Sports NZ EPL","thumb":"https://iili.io/KmUzIj4.webp","url":"https://webiptv.site/skynz8.php"},
              {"name":"Sky Sports NZ 9","thumb":"https://iili.io/KmU5Pl2.png","url":"https://webiptv.site/skynz9.php"},
              {"name":"Sky Sports Select","thumb":"https://iili.io/KmUMKbV.webp","url":"https://webiptv.site/skynzsl.php"},
              {"name":"Sky Sports ESPN","thumb":"https://iili.io/KmUjH9s.png","url":"https://webiptv.site/skynzespn.php"},
              {"name":"Sky Sports ESPN 2","thumb":"https://iili.io/KmUO5il.png","url":"https://webiptv.site/skynzespn2.php"}
            ]
          }
          EOF

      - name: Commit JSON
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add skynz.json
          git commit -m "Save SkyNZ JSON" || true
          git push
